.wrapp {
  max-width: calc(100% - 140px);
  padding-top: 70px;
  margin: 0 auto; 
}

.wrapp__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  overflow-x: scroll;
  width: 80%;
  margin: 0 auto;
}